
@loginmain(title="SignOut") {

	<div class="icons">
	<img src="@routes.Assets.at("images/signout.png")"/></br></br></br>
	</div>
   
			<div id="form2">
			
				<br/><font color="pink" size="9"><b>&nbsp;&nbsp;
				 You have </br></br>&nbsp;been signed </br></br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 out.</b></font></br>
	             
            </div>
           
           	<div id="btnl">
				<a href="@routes.Application.login()"><input class="btn btn-info" type="Submit"  value="Login"/></a>
    		</div>
}
